.workplaces {
  position: relative;
  overflow-x: clip;
}

.workplaces__ttitle {
  padding-top: 117px;
  padding-bottom: 64px;
}

.workplaces__item {
  position: relative;
  display: flex;

  align-items: flex-start;
  background: linear-gradient(
    90deg,
    rgba(31, 63, 77, 0.54) 0%,
    rgba(31, 75, 94, 0) 100%
  );

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: var(--main-color);

  /* max-width: 692px; */
  padding-block: 20px;
  margin-bottom: 20px;
}

.workplaces__item:nth-child(2) {
  max-width: 650px;
}

.workplaces__item:nth-child(3) {
  max-width: 600px;
}

.workplaces__item:nth-child(4) {
  max-width: 510px;
}

.workplaces__list {
  position: relative;
  list-style: none;

  /* min-width: clamp(19rem, 10rem + 45vw, 43.75rem); */
}

@media (width>=768px) {
  .workplaces__list {
    padding-bottom: 69px;
  }
}

.workplaces__item::after {
  position: absolute;
  content: "";
  height: 32px;
  width: 63px;

  background-image: url("../../icon/text-glare.svg");
  left: 56px;
  top: 17px;
}

.workplaces__item::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  /* margin-top: 11px; */
  margin-right: 20px;
  margin-left: 24px;
  background-image: url("../../icon/marker.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.workplaces__sing-up {
  position: relative;
  margin-bottom: 110px;
}

@media (width>=768px) {
  .workplaces__ai {
    position: absolute;
    box-shadow: inset 0 0 110px 14px #000;
    mix-blend-mode: lighten;
    transform: translateY(-100%) translateX(-15%);
    /* top: 200px;
  right: 100px; */
  }
  .workplaces__ai-mobile {
    display: none;
  }
}
@media (width<768px) {
  .workplaces__ai {
    display: none;
  }

  .workplaces__ai-mobile {
    box-shadow: inset 0 0 110px 14px #000;
    mix-blend-mode: lighten;
  }
}
/* .workplaces__list::after {
  content: "";
  position: absolute;
  width: 305px;
  height: 305px;
  z-index: var(--layer-3);
  bottom: 200px;
  right: -200px;
  border-radius: 100%;
  background-color: #ffaa0057;
  filter: blur(140px);
}

.workplaces__list::before {
  content: "";
  position: absolute;
  width: 305px;
  height: 305px;
  z-index: var(--layer-3);
  bottom: 0px;
  right: -500px;
  border-radius: 100%;
  background-color: #00e1ff62;
  filter: blur(140px);
} */
