form {
  border: 1px solid #000;
  font-size: 20px;
  border-radius: 10px;
  width: 270px;
  padding: 10px;
  background-color: rgb(255, 255, 0, 0.5);
}
fieldset {
  border: none;
  width: 200px;
  padding: none;
}

label {
  display: block;
  margin-bottom: 5px;
}
input {
  padding: 3px;

  display: block;
}
textarea {
  resize: vertical;
  min-height: 50px;
  max-height: 300px;
}

#check {
  display: inline;
}

.pointer {
  cursor: pointer;
}

button {
  border: none;
  width: 150px;
}
